.Counter {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    outline: none;
}

.Counter__screen {
    flex: 1;
    line-height: 150px;
    font-size: 120px;
    text-align: center;
}

.Counter__dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}